<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ldy.account">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".LoginActivity"
            android:label="@string/account_title_activity_login" />

        <receiver android:name=".receiver.AccountInitReceiver">
            <intent-filter>
                <action android:name="com.xdja.eoa.module.init" />
                <action android:name="com.xdja.eoa.module.initFinish"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>